@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Acme, Iceberg;
    background-color: #70daa8;
  }
  
  .column
  {
      width:50%;
      float:left;
      padding:100px 10px;
  }

  .row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
  }

  .title
  {
      color:gray;
      font-size:18px;
  }

  button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:black;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
  }

  a{
      text-decoration: none;
      font-size:22px;
      color:black;
  }

  a:hover,button:hover{
      opacity: 0.6;
  }

body{
	font-family: 'Acme';
	font-weight: bolder;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.buttonContainer{
	margin-top:100px;
	text-align:center;
}

h1{
	color:rgba(69, 69, 69, 1);
	line-height:2em;
}

/* BUTTON CSS
------------------------------------------- */

a.button{
  display:inline-block;
	
	font:normal normal 524 1.1em 'Acme';
	text-decoration:none;	
	
	color:rgba(0, 0, 0, 1);
	brackground-color:transparent;
	border:2px solid rgba(0, 0, 0, 1);
	border-radius:10px;
	
	padding: .1em .7em;
	margin:5px;
			
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

a.button:hover{
	color:rgba(255, 255, 255, 1);
	background-color:rgba(0, 0, 0, 1);
	background-position: -100% 100%;
}

